@import "tailwindcss";

@theme {
  --color-light-red: #C1121F;
  --color-dark-red: #780000;
  --color-yellow: #FEFAE0;
  --color-dark-blue: #003049;
  --color-light-blue: #669BBC;
}

:root {
  --font-primary: 'Bricolage Grotesque', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgb(0, 0, 0);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: var(--font-primary) !important;
}
